{% extends "nav2.html" %}
{% block content %}
<div class="instCon">
    <h1>Instructions</h1>
    <h2>How to Play?</h2>
    <p>
        <br>
        1. Use Left and Right arrowkeys to move shipship respectively on the game screen
        <br> <br>
        2. Tap Spacebar to shoot bullets out of spaceship
        <br> <br> <br>
    </p>
    <h2>Objective of the Game:</h2>
    <p>
        <br>
        Shoot to kill aliens to obtain the highest score possible, user's highest score will be posted to a global leaderboard

        <br> <br> <br>
    </p>
    <h2>Note:</h2>
    <p>
        <br>
        To get posted on leaderboard, user's will have to register an account
        <br> <br> <br>
    </p>
    <h1>Enjoy the Game!</h1>
</div>
   

{% endblock %}